#venv27
Python==2.7.16
bcrypt==3.1.7
cffi==1.15.1
click==7.1.2
cryptography==3.3.2
enum34==1.1.10
Flask==1.1.4
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.3
keyboard==0.13.5
MarkupSafe==1.1.1
paramiko==2.8.1
pycparser==2.21
PyNaCl==1.4.0
six==1.16.0
Werkzeug==1.0.1
